// === filter on real estate pages ===

@import 'assets', 'elements';

//::: the filter :::
#block-appartementtypea, #block-appartementtypeb, #block-huistypea, #block-huistypeb{

  //only margin-top, full width + margin-bottom on second filter line
  margin-top: $m;

  //full link zone with platinum bgc
  .field--name-field-linksblock-links{
    background-color: $platinum;

    //the individual links (div)
    .field__item{
      display: inline-block;
      width: 24%;
      text-align: center;
      padding-top: $s;
      padding-bottom: $s;

      //css3 transitions rocks
      -webkit-transition: background-color 1s; /* Safari */
      transition: background-color 1s;

      a{
        text-transform: uppercase;
        color: $smokyblack;
        text-decoration: none;
      }
    }

    .field__item:hover{
      background-color: $snowwhite;
      border-bottom: 2px solid $persiangreen;
    }

    .active{
      background-color: $snowwhite;
      border-bottom: 2px solid $persiangreen;
    }
  }
}

//::: the filter for 5 :::
#block-huistypeb{

  //only margin-top, full width + margin-bottom on second filter line
  margin-top: $m;

  //full link zone with platinum bgc
  .field--name-field-linksblock-links{
    background-color: $platinum;

    //the individual links (div)
    .field__item{
      display: inline-block;
      width: 19%;
      text-align: center;
      padding-top: $s;
      padding-bottom: $s;

      //css3 transitions rocks
      -webkit-transition: background-color 1s; /* Safari */
      transition: background-color 1s;

      a{
        text-transform: uppercase;
        color: $smokyblack;
        text-decoration: none;
      }
    }

    .field__item:hover{
      background-color: $snowwhite;
      border-bottom: 2px solid $persiangreen;
    }

    .active{
      background-color: $snowwhite;
      border-bottom: 2px solid $persiangreen;
    }
  }
}

//::: the appartments / the houses :::
.view-id-appartementen, .view-id-huizen{
  .views-row{
    //some whitespace between filter row and content
    margin: $m 0;
  }

  //green title
  .views-field-title{
    margin-bottom: $s;
    margin-left: $s;
    margin-right:$s;

    a{
      text-transform: lowercase;
      color: $persiangreen;
      font-size: $subtitle;
      text-decoration: none;
    }
  }

  //labels are in uppercase
  span{
    text-transform: uppercase;
  }

  .views-field-field-realestate-bebouwing,
  .views-field-field-realestate-tag,
  .views-field-field-realestate-opp,
  .views-field-field-realestate-rooms,
  .views-field-field-realestate-price
  {
    padding: $xs 0;
    margin-left: $s;
    margin-right:$s;
    border-bottom: 1px solid $platinum;

    .field-content{
      display: inline-block;

      a{
        text-decoration: none;
        color: $smokyblack;
      }
    }
  }

  .views-field-field-realestate-img{
    margin: $s 0;
    width: 100vw;
    visibility: hidden;

    .slick-initialized .slick-track {
      display: flex;
      align-items: center;
      visibility: visible;
      width: 100vw;
    }

    .js-slick-single-item{
      width: 100vw;

      a{
        display: block;
      }

      a, .slick-slide{
        padding: 0;
        margin: 0;
        width: 100%;
        img{
          width: 100%;
          height: auto;
        }
      }
    }

    .slick-dots{
      visibility: visible;
      list-style:none;
      padding-left:0;
      font-size: 1.2rem;
      text-align: center;
      li{
        display: inline;
        background-color: transparent;
        border: none;
      }
      button{
        background-color: transparent;
        border: none;
      }
      .slick-active{
        button{
          text-decoration: underline;
        }
      }
    }
  }

  .views-field-field-realestate-plan{

    .field-content{
      @extend .white_button;
      //center button
      margin: 0 auto;
    }

    .file--application-pdf{
      background-image: none;  
    }
    
    .file{
      padding-left: 0;
      background-position: 0 0;
    }
  }
}

@media screen and (min-width: 600px){
  .views-field-field-realestate-img{
  }
}

@media screen and (min-width: 900px){


  .views-field-field-realestate-img{

    width: 100vw;

    .slick-initialized .slick-track {
      display: flex;
      align-items: center;
      //justify-content: space-around;
    }

    .js-slick-single-item{
      width: 30%;

      .slick-slide{
        width: 100%;
      }

      a{
        width: 100%;
        padding-left: $m !important;
        padding-right: $m !important;
      }
    }
  }

  .views-field-field-realestate-tag,
  .views-field-field-realestate-opp,
  .views-field-field-realestate-rooms,
  .views-field-field-realestate-price{

  }
}