// === footerthefoot ===

@import 'assets', 'elements';

footer{
  width: 100%;
  padding: $m 0;
  background-color: $persiangreen;
  color: $snowwhite;
  font-size: $footer;

  nav{
    ul{
      li{
        display: block !important;
        a{
          color: $snowwhite;
        }
      }
      li:first-child{
        margin-bottom: $s;
      }
    }
  }

  #block-immoalcazar{
    margin-top: $m;
    text-align: center;

    a{
      color: $snowwhite;
    }
  }
}

@media screen and (min-width: 900px){

}