@import url("https://fonts.googleapis.com/css?family=Oswald:300,400");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400");
.content-container {
  max-width: 1200px;
  margin: 0 auto; }

.content-block, .alcazar_content, #block-overons, #block-locatie {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 10px; }

.clean-ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.clean-a, .red_button a, .field--name-field-alcazar-buttons div:first-child a, .field--name-field-teaserblock-link a, .white_button a, .field--name-field-alcazar-buttons div a, .aanbodblock_right .aanbodblock_right_link div a {
  text-decoration: none;
  color: #0a0f0d;
  text-transform: lowercase;
  -webkit-transition: color 1s;
  /* Safari */
  transition: color 1s; }

.clean-a:hover, .red_button a:hover, .field--name-field-teaserblock-link a:hover, .white_button a:hover, .field--name-field-alcazar-buttons div a:hover, .aanbodblock_right .aanbodblock_right_link div a:hover, .is-active {
  color: #dee5e5; }

.title {
  text-transform: uppercase;
  font-size: 4.8rem;
  color: #ffffff;
  margin-bottom: 25px; }

.title_number, .field--name-field-alcazar-number,
.field--name-field-teaserblock-number,
.field--name-field-aanbodblock-number,
.field--name-field-mapsblock-number {
  color: #dee5e5;
  font-size: 64px; }

.title_subtitle, .field--name-field-alcazar-subtitle,
.field--name-field-teaserblock-title,
.field--name-field-aanbodblock-title,
.field--name-field-mapsblock-title {
  font-size: 36px;
  margin-left: -50px;
  text-transform: lowercase; }

p {
  font-weight: 300; }

.red_button, .field--name-field-alcazar-buttons div:first-child, .field--name-field-teaserblock-link {
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ff5a5f;
  background-color: #ff5a5f;
  text-align: center;
  -webkit-transition: all 1s;
  /* Safari */
  transition: all 1s; }
  .red_button a, .field--name-field-alcazar-buttons div:first-child a, .field--name-field-teaserblock-link a {
    color: #ffffff;
    text-transform: lowercase; }

.red_button:hover, .field--name-field-alcazar-buttons div:hover:first-child, .field--name-field-teaserblock-link:hover {
  background-color: #ffffff; }
  .red_button:hover a, .field--name-field-alcazar-buttons div:hover:first-child a, .field--name-field-teaserblock-link:hover a {
    color: #ff5a5f !important; }

.white_button, .field--name-field-alcazar-buttons div, .aanbodblock_right .aanbodblock_right_link div {
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ff5a5f;
  text-align: center;
  -webkit-transition: all 1s;
  /* Safari */
  transition: all 1s; }
  .white_button a, .field--name-field-alcazar-buttons div a, .aanbodblock_right .aanbodblock_right_link div a {
    color: #ff5a5f;
    text-transform: lowercase; }

.white_button:hover, .field--name-field-alcazar-buttons div:hover, .aanbodblock_right .aanbodblock_right_link div:hover {
  background-color: #ff5a5f; }
  .white_button:hover a, .field--name-field-alcazar-buttons div:hover a, .aanbodblock_right .aanbodblock_right_link div:hover a {
    color: #ffffff; }

#block-googlemaps {
  width: 100%;
  padding-bottom: 50px; }

.field--name-field-alcazar-number,
.field--name-field-teaserblock-number,
.field--name-field-aanbodblock-number,
.field--name-field-mapsblock-number {
  display: inline; }

.field--name-field-alcazar-subtitle,
.field--name-field-teaserblock-title,
.field--name-field-aanbodblock-title,
.field--name-field-mapsblock-title {
  display: inline; }

.field--name-field-alcazar-buttons {
  margin-top: 25px; }
  .field--name-field-alcazar-buttons div {
    margin: 0 auto; }
  .field--name-field-alcazar-buttons div:first-child {
    margin-bottom: 10px; }

.field--name-field-teaserblock-link {
  margin: 25px auto 0 auto; }

.field--name-field-imageblock-image {
  width: 100%;
  overflow: hidden; }
  .field--name-field-imageblock-image img {
    width: 100%;
    height: auto;
    background-attachment: fixed;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .field--name-field-imageblock-image img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

#block-onsaanbod {
  padding: 50px 0; }

.aanbodblock_title {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 25px 10px; }

.aanbodblock_left {
  width: 100%;
  position: relative;
  background-color: #dee5e5; }
  .aanbodblock_left .field--name-field-aanbodblock-image1,
  .aanbodblock_left .field--name-field-aanbodblock-image2 {
    overflow: hidden; }
    .aanbodblock_left .field--name-field-aanbodblock-image1 img,
    .aanbodblock_left .field--name-field-aanbodblock-image2 img {
      width: 100%;
      height: auto;
      vertical-align: middle;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .aanbodblock_left .field--name-field-aanbodblock-image1 img:hover,
    .aanbodblock_left .field--name-field-aanbodblock-image2 img:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  .aanbodblock_left .field--name-field-aanbodblock-overlay1,
  .aanbodblock_left .field--name-field-aanbodblock-overlay2 {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: lowercase;
    background-color: rgba(10, 15, 13, 0.5);
    padding-top: 10px;
    padding-bottom: 10px; }

.aanbodblock_right {
  width: 100%;
  height: 200px;
  background-color: #dee5e5;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .aanbodblock_right .field--name-field-aanbodblock-intro1,
  .aanbodblock_right .field--name-field-aanbodblock-intro2 {
    padding: 10px 25px;
    font-weight: 300; }
  .aanbodblock_right .aanbodblock_right_link {
    padding: 10px 25px; }

@media screen and (min-width: 600px) {
  .field--name-field-alcazar-buttons {
    text-align: center; }
    .field--name-field-alcazar-buttons div {
      display: inline-block;
      margin: 0 auto; } }
@media screen and (min-width: 900px) {
  .aanbodblock_appartementen, .aanbodblock_huizen {
    display: flex; }
    .aanbodblock_appartementen .aanbodblock_left, .aanbodblock_huizen .aanbodblock_left {
      width: 50%; }
    .aanbodblock_appartementen .aanbodblock_right, .aanbodblock_huizen .aanbodblock_right {
      width: 50%; } }

/*# sourceMappingURL=content.css.map */
